{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>Liste des artistes</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Genre</th>
            <th>Modification</th>
        </tr>

        {% for d in data %}
            <tr>
                <th>{{ d.id }}</th>
                <th>{{ d.nom }}</th>
                <th>{{ d.datenaissance.format('d-m-Y') }}</th>
                <th>{{ d.genre }}</th>
                <th>
                    <a href="/artiste/update/{{ d.id }}"><button>Modifier</button></a>
                    <a href="/artiste/remove/{{ d.id }}"><button>Supprimer</button></a>
                </th>
            </tr>
        {% endfor %}

    </table>

    <a href="/artiste/add"><button>Ajouter artiste</button></a>

</div>
{% endblock %}
